.header
  %h1.title-logo
    = link_to image_tag("/images/logo.png", alt:"FURIMA", class:"logo"), root_path, class:"logo-link"

.registration-main
  .sign-up-container
    %h2.sign-up-container__title 会員情報入力
    = form_with model: @user, url: user_registration_path, id: "new_user", class: "new_user", local: true do |f|
      .contents-fields
        .field-top
          = f.label :nickname
          %span.field__require
            必須
          %br/
          = f.text_field :nickname, autocomplete: "nickname", placeholder: "例）フリマ太郎"
        .field
          = f.label :email
          %span.field__require
            必須
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"
        .field
          = f.label :password
          %span.field__require
            必須
          %br/
          = f.password_field :password, autocomplete: "new-password", placeholder: "7文字以上の半角英数字"
          %p.notification
            ※ 英字と数字の両方を含めて設定してください
        .field
          = f.label :password_confirmation
          %span.field__require
            必須
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "7文字以上の半角英数字"
        .field
          %h3.field__identification
            本人確認
          %p.field__id-text
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .field
          = f.label :last_name
          %span.field__require
            必須
          %br/
          = f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "例）山田"
          = f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "例）太郎"
        .field
          = f.label :last_name_kana
          %span.field__require
            必須
          %br/
          = f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder: "例）ヤマダ"
          = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "例）タロウ"
        .field
          = f.label :birth_day
          %span.field__require
            必須
          %br/
          .field__birth-day
            = raw sprintf(f.date_select(:birth_day, use_month_numbers: true,autofocus: true, autocomplete: "birth_day", start_year:Time.now.year, end_year: 1920, prompt: "--", date_separator:'%s'),'年','月')+ '日'
        %p.contents-fields__info
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      .submit-contents
        .field
          %p.field__submit_info
            「次へ進む」のボタンを押すことにより、
            = link_to "利用規約","#",class:"terms"
            に同意したものとみなします。
        .actions
          = f.submit "次に進む", id:"submit"
        .about-identification
          = link_to "本人情報の登録について","#",id:"about-id"

.footer
  = render "/layouts/form_footer"
