.header
  %h1
    = link_to image_tag("/images/logo.png", alt:"FURIMA", class:"logo"), "#", class:"logo-link"

.main
  .form-container
    %h2 Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .contents-fields
        .field-top
          = f.label :nickname
          %span.field-top__require
            必須
          %br/
          = f.password_field :nickname, autocomplete: "nickname", placeholder: "例）フリマ太郎"
        .field
          = f.label :email
          %span.field__require
            必須
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"
        .field
          = f.label :password
          -# - if @minimum_password_length
          -#   %em
          -#     (#{@minimum_password_length} characters minimum)
          %span.field__require
            必須
          %br/
          = f.password_field :password, autocomplete: "new-password", placeholder: "7文字以上の半角英数字"

        .actions
          = f.submit "Sign up"
      = render "devise/shared/links"

.footer
