.header
  %h1.title-logo
    = link_to image_tag("/images/logo.png", alt:"FURIMA", class: "logo"), root_path, class: "logo-link"

.purchase-detals-main
  .main-title-container
    %h2.main-title-container__text 購入内容の確認
  .selected-item-container
    .selected-item-container__content
      .selected-item-container__content__inner
        = image_tag @item.images[0].image.url, alt:"", class: "selected-item-container__content__inner--image"
        .item-detail
          %p.item-detail--name
            = @item.name
          %p.item-detail--price
            %span
            = number_to_currency(@item.price,format:"%u%n",unit:"¥")
            %span.item-detail--price--fee （税込）送料込み
  .payment-container
    .payment-container__contents
      .payment-container__contents__inner
        %ul.price-table
          %li.price-table__label
            .price-table__label--text 支払い金額
            .price-table__label--amount
              %span
              = number_to_currency(@item.price,format:"%u%n",unit:"¥")
        - if @buyer.credit_card.present?
          .card-info
            .card-info__label
              %h3.card-info__label--text 支払い方法
              = link_to credit_cards_path(@item.user_id), class: "sipping-adress__inner__label--right" do
                %span 変更する
            .card-number
              %h3.title 
                クレジットカード
              %span.number
                = "**** **** **** " + @default_card_information.last4
            .expire-date 
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              %span.expiration
                有効期限
              %span.date-year
                = exp_month + " / " + exp_year
        - else
          .method
            .method__label
              %h3.method__label--text 支払い方法
              = link_to new_credit_card_path, class: "method__label--link" do
                = icon('fas', 'plus-circle', class: "method__label--link--icon")
                %span.method__label--link--comment 登録してください
        .sipping-adress
          .sipping-adress__inner
            .sipping-adress__inner__label.clearfix
              %h3.sipping-adress__inner__label--left 配送先
              = link_to "#", class: "sipping-adress__inner__label--right" do
                %span 変更する
            %address.sipping-adress__inner--info
              %p 
                = @buyer.shipping_address.zipcode
                %br/ 
                = @buyer.shipping_address.prefecture
                = @buyer.shipping_address.city
                = @buyer.shipping_address.address
                = @buyer.shipping_address.building
                %br/ 
                %br/ 
                = @buyer.nickname
        .buy-content
          = form_tag(action: :pay,method: :post) do
            %button 購入する

.footer
  = render "/layouts/form_footer"