.header
  %h1.title-logo
    = link_to image_tag("/images/logo.png", alt:"FURIMA", class:"logo"), root_path, class:"logo-link"

.registration-main
  .sign-up-container
    %h2.sign-up-container__title お届け先住所登録
    .form-shipping-address
      .contents-fields
        .field-top
          %label.field-top__label
            お名前
          %span.field-top__require
            必須
          %br/
          = text_field_tag 'last-name', "", calss: "last_name", placeholder: "山田"
          = text_field_tag 'first-name', "", class:"first_name", placeholder:"太郎"
        .field
          %label.field__label
            お名前カナ
          %span.field__require
            必須
          %br/
          = text_field_tag 'last-name-kana', "", class:"", placeholder:"ヤマダ"
          = text_field_tag 'first-name-kana', "", class:"", placeholder:"タロウ"
        .field
          %label.field__label
            郵便番号
          %span.field__require
            必須
          %br/
          = password_field_tag 'postal-code', "",class:"", placeholder:"8文字以上"
          %p.notification
            ※ 英字と数字の両方を含めて設定してください
        .field
          %label.field__label
            都道府県
          %span.field__require
            必須
          %br/
          = select_tag 'prefecture', options_for_select([['選択してください','0'],['北海道','1'],['青森県','2'],['山形県','3'],['福岡県','40']])
        .field
          %label.field__label
            市町村
          %span.field__require
            必須
          %br/
          = text_field_tag 'city',"",class:"",placeholder:"坂岡市"
        .field
          %label.field__label
            番地
          %span.field__require
            必須
          %br/
          = text_field_tag 'town',"",class:"",placeholder: "黄金町"
        .field
          %label.field__label
            建物名
          %span.field__nini
            任意
          %br/
          = text_field_tag 'building',"", class:"", placeholder: "ガーデンパレスみずほ"
        .field
          %label.field__label
            電話番号
          %span.field__nini
            任意
          %br/
          = text_field_tag 'phone-number',"", class:"", placeholder: "0808080808"
      .submit-contents
        .field
          %p.field__submit_info
            「登録する」のボタンを押すことにより、
            = link_to "利用規約","#",class:"terms"
            に同意したものとみなします。
        .actions
          = button_tag "登録する", id:"registration"
        .about-identification
          = link_to "本人情報の登録について","#",id:"about-id"

.footer
  = render "/layouts/form_footer"