.header
  %h1.title-logo
    = link_to image_tag("/images/logo.png", alt:"FURIMA", class:"logo"), root_path, class:"logo-link"

.sign-in-main
  .sign-in-container
    .signin-no-account
      %p.signin-no-account__line
        アカウントをお持ちでない方はこちら
      = link_to "新規会員登録", new_user_registration_path,id:"no-account-signup"
    .login-form-api
      = link_to user_facebook_omniauth_authorize_path, method: :post, id:"facebook-login" do
        = icon('fab','facebook-square')
        Facebookでログイン
      = link_to user_google_oauth2_omniauth_authorize_path, method: :post, id:"google-login" do
        = icon('fab','google')
        Googleでログイン
    = form_with model: @user, scope: @user, url: session_path(resource_name), id: "new_user", dlass: "new_user", local: true do |f|
      .form-fields
        .field-top
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス"
        .field
          = f.password_field :password, autocomplete: "current-password", placeholder:"パスワード"
        .actions
          = f.submit "ログイン", id:"submit"
          = link_to "パスワードをお忘れの方","#",id:"forget-password"

.footer
  = render "/layouts/form_footer"