- @item_category_lady.each do |item|
  %li.items-lists__each
    .item-sammary
      = link_to "#",class:"sammary" do
        %figure.item-image
          .image-thumbnail
            %span.price
              = item.price
            = image_tag item.images[0].image.url,alt:"sample",class:"sample"
          %figcaption.caption
            %span.line
              = item.name
            .like-count
              = icon("far","heart")
              %span.item-box-likes__number
                4





-# %li.items-lists__each
-#   .item-sammary
-#     = link_to "#",class:"sammary" do
-#       %figure.item-image
-#         .image-thumbnail
-#           %span.price
-#             3999
-#           = image_tag "/images/icon-04.png",alt:"sample",class:"sample"
-#         %figcaption.caption
-#           %span.line
-#             商品の名前がここに入ります。
-#           .like-count
-#             = icon("far","heart")
-#             %span.item-box-likes__number
-#               4
-# %li.items-lists__each
-#   .item-sammary
-#     = link_to "#",class:"sammary" do
-#       %figure.item-image
-#         .image-thumbnail
-#           %span.price
-#             3999
-#           = image_tag "/images/icon-03.png",alt:"sample",class:"sample"
-#         %figcaption.caption
-#           %span.line
-#             商品の名前がここに入ります。
-#           .like-count
-#             = icon("far","heart")
-#             %span.item-box-likes__number
-#               4
-# %li.items-lists__each
-#   .item-sammary
-#     = link_to "#",class:"sammary" do
-#       %figure.item-image
-#         .image-thumbnail
-#           %span.price
-#             3999
-#           = image_tag "/images/icon-01.png",alt:"sample",class:"sample"
-#         %figcaption.caption
-#           %span.line
-#             商品の名前がここに入ります。
-#           .like-count
-#             = icon("far","heart")
-#             %span.item-box-likes__number
-#               4
-# %li.items-lists__each
-#   .item-sammary
-#     = link_to "#",class:"sammary" do
-#       %figure.item-image
-#         .image-thumbnail
-#           %span.price
-#             3999
-#           = image_tag "/images/icon-01.png",alt:"sample",class:"sample"
-#         %figcaption.caption
-#           %span.line
-#             商品の名前がここに入ります。
-#           .like-count
-#             = icon("far","heart")
-#             %span.item-box-likes__number
-#               4
-# %li.items-lists__each
-#   .item-sammary
-#     = link_to "#",class:"sammary" do
-#       %figure.item-image
-#         .image-thumbnail
-#           %span.price
-#             3999
-#           = image_tag "/images/icon-01.png",alt:"sample",class:"sample"
-#         %figcaption.caption
-#           %span.line
-#             商品の名前がここに入ります。
-#           .like-count
-#             = icon("far","heart")
-#             %span.item-box-likes__number
-#               4
-# %li.items-lists__each
-#   .item-sammary
-#     = link_to "#",class:"sammary" do
-#       %figure.item-image
-#         .image-thumbnail
-#           %span.price
-#             3999
-#           = image_tag "/images/icon-01.png",alt:"sample",class:"sample"
-#         %figcaption.caption
-#           %span.line
-#             商品の名前がここに入ります。
-#           .like-count
-#             = icon("far","heart")
-#             %span.item-box-likes__number
-#               4
-# %li.items-lists__each
-#   .item-sammary
-#     = link_to "#",class:"sammary" do
-#       %figure.item-image
-#         .image-thumbnail
-#           %span.price
-#             3999
-#           = image_tag "/images/icon-01.png",alt:"sample",class:"sample"
-#         %figcaption.caption
-#           %span.line
-#             商品の名前がここに入ります。
-#           .like-count
-#             = icon("far","heart")
-#             %span.item-box-likes__number
-#               4
-# %li.items-lists__each
-#   .item-sammary
-#     = link_to "#",class:"sammary" do
-#       %figure.item-image
-#         .image-thumbnail
-#           %span.price
-#             3999
-#           = image_tag "/images/icon-01.png",alt:"sample",class:"sample"
-#         %figcaption.caption
-#           %span.line
-#             商品の名前がここに入ります。
-#           .like-count
-#             = icon("far","heart")
-#             %span.item-box-likes__number
-#               4
-# %li.items-lists__each
-#   .item-sammary
-#     = link_to "#",class:"sammary" do
-#       %figure.item-image
-#         .image-thumbnail
-#           %span.price
-#             3999
-#           = image_tag "/images/icon-01.png",alt:"sample",class:"sample"
-#         %figcaption.caption
-#           %span.line
-#             商品の名前がここに入ります。
-#           .like-count
-#             = icon("far","heart")
-#             %span.item-box-likes__number
-#               4