.header-inner
  .header-upper
    .logo-box
      = link_to image_tag("/images/logo.png", alt:"FURIMA", class:"logo-main"), root_path, id:"logo-header"
    .form-box
      = text_field_tag 'name',"", class:"item-search", placeholder:"何をお探しですか"
      = link_to "#",class:"search" do
        = icon("fas","search")
  .header-navigation-bar
    .navigation-left
      .navigation-category__categories
        %h2.category-title-box
          = link_to "#", class:"category" do
            = image_tag("/images/icon_category.png", alt:"Category",class:"category-logo")
            %span.category-title__title
              カテゴリーから探す
        %ul.categories-container
          %li.categories-container__parent
            %h3.category-name
              = link_to "レディース","#",class:"category-parent"
            %ul.categories-container-child
              %li.categories-container-child__child
                %h3.category-name
                  = link_to "トップス","#",class:"category-child"
                %ul.categories-container-grandchild
                  %li.categories-container-grandchild__grandchild
                    %h3.category-name
                      = link_to "ポロシャツ","#",class:"category-grandchild"
          %li.categories-container__parent
            %h3.category-name
              = link_to "メンズ","#",class:"category-parent"
      .navigation-category__brands
        %h2.brand-title-box
          = link_to "#", class:"brand" do
            = image_tag("/images/icon_brand.png", alt:"Brand",class:"brand-logo")
            %span.brand-title__title
              ブランドから探す
        %ul.brands-container
          %li.brands-container__brand
            %h3.brand-name
              = link_to "ナイキ","#",class:"brand"
          %li.brands-container__brand
            %h3.brand-name
              = link_to "アディダス","#",class:"brand"
          %li.brands-container__brand
            %h3.brand-name
              = link_to "プーマ","#",class:"brand"
          %li.brands-container__brand
            %h3.brand-name
              = link_to "アシックス","#",class:"brand"
    .navigation-right
      %ul.navigation-likes-mypage
        %li.navigation-likes-mypage__likes
          = link_to "#", class:"likes-link" do
            = icon("far","heart")
            %span.navigation-likes-mypage__likes--title
              いいね！一覧
        %li.navigation-likes-mypage__mypage
          = link_to "#", class:"mypage-link" do
            = image_tag("/images/member_photo_noimage_thumb.png", alt:"mypage",class:"mypage")
            %span.navigation-likes-mypage__mypage--title 
              マイページ