%h2.item-other-content
  = link_to "ユーザー名さんのその他の出品","#",class:"other-item"
.item-others-container
  %section.item-informations
    = link_to "#",class:"item-informations__link" do
      %figure.item-image
        = image_tag "/images/test_image.jpg",alt:"test-image",class:"item-image__title"
      .item-box-body
        %h3.item-box-name
          商品の名前がここに入ります。
        .item-box-price-box
          .item-box-price
            $3456
          .item-box-likes
            = icon("far","heart")
            %span.item-box-likes__number
              4
  %section.item-informations
    = link_to "#",class:"item-informations__link" do
      %figure.item-image
        = image_tag "/images/icon_brand.png",alt:"test-image",class:"item-image__title"
      .item-box-body
        %h3.item-box-name
          商品の名前がここに入ります。
        .item-box-price-box
          .item-box-price
            $3456
          .item-box-likes
            = icon("far","heart")
            %span.item-box-likes__number
              4
  %section.item-informations
    = link_to "#",class:"item-informations__link" do
      %figure.item-image
        = image_tag "/images/test_image.jpg",alt:"test-image",class:"item-image__title"
      .item-box-body
        %h3.item-box-name
          商品の名前がここに商品の名前がここに商品の名前がここに
        .item-box-price-box
          .item-box-price
            $3456
          .item-box-likes
            = icon("far","heart")
            %span.item-box-likes__number
              4
  %section.item-informations
    = link_to "#",class:"item-informations__link" do
      %figure.item-image
        = image_tag "/images/test_image.jpg",alt:"test-image",class:"item-image__title"
      .item-box-body
        %h3.item-box-name
          商品の名前がここに入ります。
        .item-box-price-box
          .item-box-price
            $3456
          .item-box-likes
            = icon("far","heart")
            %span.item-box-likes__number
              4
  %section.item-informations
    = link_to "#",class:"item-informations__link" do
      %figure.item-image
        = image_tag "/images/test_image.jpg",alt:"test-image",class:"item-image__title"
      .item-box-body
        %h3.item-box-name
          商品の名前がここに入ります。
        .item-box-price-box
          .item-box-price
            $3456
          .item-box-likes
            = icon("far","heart")
            %span.item-box-likes__number
              4
  %section.item-informations
    = link_to "#",class:"item-informations__link" do
      %figure.item-image
        = image_tag "/images/test_image.jpg",alt:"test-image",class:"item-image__title"
      .item-box-body
        %h3.item-box-name
          商品の名前がここに商品の名前がここに商品の名前がここに
        .item-box-price-box
          .item-box-price
            $3456
          .item-box-likes
            = icon("far","heart")
            %span.item-box-likes__number
              4
.item-other-in-this-category
%h2.item-other-content
  = link_to "カテゴリーのその他の商品","#",class:"other-item"
.item-others-container
  %section.item-informations
    = link_to "#",class:"item-informations__link" do
      %figure.item-image
        = image_tag "/images/test_image.jpg",alt:"test-image",class:"item-image__title"
      .item-box-body
        %h3.item-box-name
          商品の名前がここに入ります。
        .item-box-price-box
          .item-box-price
            $3456
          .item-box-likes
            = icon("far","heart")
            %span.item-box-likes__number
              4
  %section.item-informations
    = link_to "#",class:"item-informations__link" do
      %figure.item-image
        = image_tag "/images/logo.png",alt:"test-image",class:"item-image__title"
      .item-box-body
        %h3.item-box-name
          商品の名前がここに入ります。
        .item-box-price-box
          .item-box-price
            $3456
          .item-box-likes
            = icon("far","heart")
            %span.item-box-likes__number
              4
  %section.item-informations
    = link_to "#",class:"item-informations__link" do
      %figure.item-image
        = image_tag "/images/test_image.jpg",alt:"test-image",class:"item-image__title"
      .item-box-body
        %h3.item-box-name
          商品の名前がここに商品の名前がここに商品の名前がここに
        .item-box-price-box
          .item-box-price
            $3456
          .item-box-likes
            = icon("far","heart")
            %span.item-box-likes__number
              4
  %section.item-informations
    = link_to "#",class:"item-informations__link" do
      %figure.item-image
        = image_tag "/images/test_image.jpg",alt:"test-image",class:"item-image__title"
      .item-box-body
        %h3.item-box-name
          商品の名前がここに入ります。
        .item-box-price-box
          .item-box-price
            $3456
          .item-box-likes
            = icon("far","heart")
            %span.item-box-likes__number
              4
  %section.item-informations
    = link_to "#",class:"item-informations__link" do
      %figure.item-image
        = image_tag "/images/test_image.jpg",alt:"test-image",class:"item-image__title"
      .item-box-body
        %h3.item-box-name
          商品の名前がここに入ります。
        .item-box-price-box
          .item-box-price
            $3456
          .item-box-likes
            = icon("far","heart")
            %span.item-box-likes__number
              4
  %section.item-informations
    = link_to "#",class:"item-informations__link" do
      %figure.item-image
        = image_tag "/images/test_image.jpg",alt:"test-image",class:"item-image__title"
      .item-box-body
        %h3.item-box-name
          商品の名前がここに商品の名前がここに商品の名前がここに
        .item-box-price-box
          .item-box-price
            $3456
          .item-box-likes
            = icon("far","heart")
            %span.item-box-likes__number
              4