.item-other-content
  %h2.item-other-title
    = link_to "#{@item.user.nickname}さんのその他の出品", "#", class: "other-item"
  .favorite-more
    = link_to "#", class: "more-items" do
      %span.item-category
        もっと見る
      = icon("fas","arrow-right")
.item-others-container
  %ul.items-lists
    - @items.each do |item|
      %li.items-lists__each
        .item-sammary
          = link_to item_path(item.id), class: "sammary" do
            %figure.item-image
              .image-thumbnail
                %span.price
                  ¥
                  = item.price.to_s(:delimited, delimiter: ',')
                = image_tag item.images[0].image.url, alt:"sample", class:"sample"
              %figcaption.caption
                %span.line
                  = item.name.truncate(22)
                .like-count
                  = render partial: 'likes/like_display', locals:{ item: item }

.item-other-content
  %h2.item-other-title
    = link_to "#{@item.category.root.name}のそのほかの商品", category_path(@item.category.root_id), class: "other-item"
  .favorite-more
    = link_to category_path(@item.category.root_id), class: "more-items" do
      %span.item-category
        もっと見る
      = icon("fas","arrow-right")
.item-others-container
  %ul.items-lists
    - @categories.each do |item|
      %li.items-lists__each
        .item-sammary
          = link_to item_path(item.id), class: "sammary" do
            %figure.item-image
              .image-thumbnail
                %span.price
                  ¥
                  = item.price.to_s(:delimited, delimiter: ',')
                = image_tag item.images[0].image.url, alt:"sample", class:"sample"
              %figcaption.caption
                %span.line
                  = item.name.truncate(22)
                .like-count
                  = render partial: 'likes/like_display', locals:{ item: item }