%ul#slider
  %li.slide-item
    = image_tag "/images/test_image.jpg",alt:"test-image",class:"slide-image"
  %li.slide-item
    = image_tag "/images/logo.png",alt:"test-image",class:"slide-image"
  %li.slide-item
    = image_tag "/images/test_image.jpg",alt:"test-image",class:"slide-image"
  %li.slide-item
    = image_tag "/images/icon_brand.png",alt:"test-image",class:"slide-image"
  %li.slide-item
    = image_tag "/images/test_image.jpg",alt:"test-image",class:"slide-image"
%ul#thumbnail-list
  %li.thumbnail-item
    = image_tag "/images/test_image.jpg",alt:"test-image",class:"thumbnail-image"
  %li.thumbnail-item
    = image_tag "/images/logo.png",alt:"test-image",class:"thumbnail-image"
  %li.thumbnail-item
    = image_tag "/images/test_image.jpg",alt:"test-image",class:"thumbnail-image"
  %li.thumbnail-item
    = image_tag "/images/icon_brand.png",alt:"test-image",class:"thumbnail-image"
  %li.thumbnail-item
    = image_tag "/images/test_image.jpg",alt:"test-image",class:"thumbnail-image"