.header-main
  = render partial:'/layouts/main_header'
.main-screen
  .main-box
    .top-banner
    .items-genre-box
      %h2.box-title
        新着商品
    .favorite-container
      .favorite-title-box-top
        %h3.favorite-title
          新着アイテム
        .favorite-more
          = link_to "#",class:"more-items" do
            %span.item-category
              もっと見る
            = icon("fas","arrow-right")
      .items-boxes
        %ul.items-lists
          = render partial:"/items/item.all"
    .items-genre-box
      %h2.box-title
        人気のカテゴリー
      .genre-famous
        %ul.genre-lists
          %li.genre-lists__list
            = link_to "レディース","#",class:"list"
          %li.genre-lists__list
            = link_to "メンズ","#",class:"list"
          %li.genre-lists__list
            = link_to "家電・スマホ・カメラ","#",class:"list"
          %li.genre-lists__list
            = link_to "おもちゃ・ホビー・グッズ","#",class:"list"
    .favorite-container
      .favorite-title-box-top
        %h3.favorite-title
          レディース新着アイテム
        .favorite-more
          = link_to "#",class:"more-items" do
            %span.item-category
              もっと見る
            = icon("fas","arrow-right")
      .items-boxes
        %ul.items-lists
          = render partial:"/items/favorite_item_ladys"
      .favorite-title-box-else
        %h3.favorite-title
          メンズ新着アイテム
        .favorite-more
          = link_to "#",class:"more-items" do
            %span.item-category
              もっと見る
            = icon("fas","arrow-right")
      .items-boxes
        %ul.items-lists
          = render partial:"/items/favorites_item_mens"
      .favorite-title-box-else
        %h3.favorite-title
          家電・スマホ・カメラ新着アイテム
        .favorite-more
          = link_to "#",class:"more-items" do
            %span.item-category
              もっと見る
            = icon("fas","arrow-right")
      .items-boxes
        %ul.items-lists
          = render partial:"/items/favorite_item_gadget"
      .favorite-title-box-else
        %h3.favorite-title
          おもちゃ・ホビー・グッズ新着アイテム
        .favorite-more
          = link_to "#",class:"more-items" do
            %span.item-category
              もっと見る
            = icon("fas","arrow-right")
      .items-boxes
        %ul.items-lists
          = render partial:"/items/favorites_item_hobby"
    .items-genre-box
      %h2.box-title
        人気のブランド
      .genre-famous
        %ul.genre-lists
          %li.genre-lists__list
            = link_to "シャネル","#",class:"list"
          %li.genre-lists__list
            = link_to "ルイヴィトン","#",class:"list"
          %li.genre-lists__list
            = link_to "ナイキ","#",class:"list"
          %li.genre-lists__list
            = link_to "プーマ","#",class:"list"
    .favorite-container
      .favorite-title-box-top
        %h3.favorite-title
          シャネル新着アイテム
        .favorite-more
          = link_to "#",class:"more-items" do
            %span.item-category
              もっと見る
            = icon("fas","arrow-right")
      .items-boxes
        %ul.items-lists
          = render partial:"/items/favorite-items-lists"
      .favorite-title-box-else
        %h3.favorite-title
          ルイヴィトン新着アイテム
        .favorite-more
          = link_to "#",class:"more-items" do
            %span.item-category
              もっと見る
            = icon("fas","arrow-right")
      .items-boxes
        %ul.items-lists
          = render partial:"/items/favorite-items-lists"
      .favorite-title-box-else
        %h3.favorite-title
          ナイキ新着アイテム
        .favorite-more
          = link_to "#",class:"more-items" do
            %span.item-category
              もっと見る
            = icon("fas","arrow-right")
      .items-boxes
        %ul.items-lists
          = render partial:"/items/favorite-items-lists"
      .favorite-title-box-else
        %h3.favorite-title
          プーマ新着アイテム
        .favorite-more
          = link_to "#",class:"more-items" do
            %span.item-category
              もっと見る
            = icon("fas","arrow-right")
      .items-boxes
        %ul.items-lists
          = render partial:"/items/favorite-items-lists"
%aside.banner-for-app
  .banner-inner
    %h2.banner-inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.banner-inner__text
      今すぐ無料ダウンロード！
    .inner-icons
      = link_to image_tag("/images/appstore-icon.png",alt:"appstore",class:"icon-image"),"#",class:"icon-left"
      = link_to image_tag("/images/googlestore-icon.png",alt:"googleplay",class:"icon-image"),"#",class:"icon-right"

= link_to new_item_path do
  .sell-btn
    %span.sell-btn__text 出品
    = image_tag("/images/icon_camera.png", alt: "CAMERA", class: "sell-btn__image")

  = link_to "ログイン", user_session_path
  = link_to "新規会員登録", new_user_registration_path
  = link_to "出品", new_item_path
  = link_to "商品詳細ページ", items_path
  = link_to "商品購入ページ", new_order_path
  = link_to "お届け先住所登録",shipping_addresses_path