.header
  %h1.title-logo
    = link_to image_tag("/images/logo.png", alt:"FURIMA", class:"logo"), root_path, class:"logo-link"

.item-exhibition-main
  = form_with model: @item, local: true,url:'/items/new',id:"form-exibition" do |f|
    .exhibition-image-container
      %label.exhibition-image-container__title 出品画像
      %span.exhibition-image-container__require
        必須
      %p.exhibition-image-container__explanation
        最大５枚までアップロードできます
      .exhibition-image-container__field
        .image-upload
        .label-content
          %label{for: "item_images_attributes_0_image", class: "label-box", id: "label-box-0"}
            .icons-box
              = icon('fas', 'camera', class: "exhibition-image-container__field--input--icon")
              %p.exhibition-image-container__field--text
                クリックしてファイルをアップロード
        .hidden-content
          = f.fields_for :images do |image|
            = image.file_field :image, class:"hidden-field", name: "item[images_attributes][0][image]"
            %input{class:"hidden-field", type: "file", name: "item[images_attributes][1][image]", id: "item_images_attributes_1_image" }
            %input{class:"hidden-field", type: "file", name: "item[images_attributes][2][image]", id: "item_images_attributes_2_image" }
            %input{class:"hidden-field", type: "file", name: "item[images_attributes][3][image]", id: "item_images_attributes_3_image" }
            %input{class:"hidden-field", type: "file", name: "item[images_attributes][4][image]", id: "item_images_attributes_4_image" }
        .notifications
          - flash.each do |key, value|
            = content_tag(:div, value, class:key)
    .product-container
      .product-container__top
        %label.product-container__top__title 商品名
        %span.product-container__top__require
          必須
        .product-container__top__text-box
          = f.text_field :name, class: "product-container__top__text-box--field", placeholder: "40文字まで",style:"text-aligh:left"
      .product-container__bottom
        %label.product-container__bottom__title 商品の説明
        %span.product-container__bottom__require
          必須
        .product-container__bottom__text-area
          = f.text_area :description,class: "product-container__bottom__text-area--field", placeholder: "商品の説明（必須 1,000文字以内）"
        .product-container__bottom__limit
          %span.count 0/1000
    
    .product-details-container
      %p.product-details-container__main-title 商品の詳細
      .product-details-container__top
        = f.label "カテゴリー", class: "product-details-container__top__title"
        %span.product-details-container__top__require
          必須
        .product-details-container__top__select
          = f.select :category_id, @category_parent_array,{prompt:"選択してください"}, {class: "select", id: "parent_category",name:"item[parent]"}
          %i.fas.fa-chevron-down.icon-arrow-down
      .product-details-container__middle
        %label.product-details-container__middle__title ブランド
        %span.product-details-container__middle__any
          任意
        .product-details-container__middle__text-box
          = f.select :brand_id, Brand.all.collect {|p| [p.name,p.id]}, prompt: "選択してください", class: "product-details-container__middle__text-box--field", placeholder: "例）シャネル"
          %i.fas.fa-chevron-down.icon-arrow-down
      .product-details-container__bottom
        %label.product-details-container__bottom__title 商品の状態
        %span.product-details-container__bottom__require
          必須
        .product-details-container__bottom__select
          = f.select :condition_id, Condition.all.collect { |p| [p.name, p.id] }, prompt: "選択してください"
          %i.fas.fa-chevron-down.icon-arrow-down
    
    .delivery-container
      %p.delivery-container__main-title 配送について
      .delivery-container__top
        %label.delivery-container__top__title 配送料の負担
        %span.delivery-container__top__require
          必須
        .delivery-container__top__select
          = f.select :delivery_fee_id, DeliveryFee.all.collect { |p| [ p.name, p.id ] }, prompt:"選択してください"
          %i.fas.fa-chevron-down.icon-arrow-down
      .delivery-container__top-derivation
        %label.delivery-container__top-derivation__title 配送の方法
        %span.delivery-container__top-derivation__require
          必須
        .delivery-container__top-derivation__select
          = f.select :shipping_method_id, ShippingMethod.all.collect { |p| [ p.name, p.id ] }, prompt:"選択してください"
          %i.fas.fa-chevron-down.icon-arrow-down
      .delivery-container__middle
        %label.delivery-container__middle__title 発送元の地域
        %span.delivery-container__middle__require
          必須
        .delivery-container__middle__select
          = f.select :ship_from_area_id, ShipFromArea.all.collect { |p| [ p.name, p.id ] }, prompt:"選択してください"
          %i.fas.fa-chevron-down.icon-arrow-down
      .delivery-container__bottom
        %label.delivery-container__bottom__title 発送までの日数
        %span.delivery-container__bottom__require
          必須
        .delivery-container__bottom__select
          = f.select :shipping_day_id, ShippingDay.all.collect { |p| [ p.name, p.id ] }, prompt:"選択してください"
          %i.fas.fa-chevron-down.icon-arrow-down
    .price-container
      %p.price-container__main-title 価格 (¥300~9,999,999)
      .price-container__contents
        .price-container__contents__main
          .price-container__contents__main__left
            %label.price-container__contents__main__left__title 販売価格
            %span.price-container__contents__main__left__require
              必須
          %span.price-container__contents__main__center
            ¥
          .price-container__contents__main__right
            .price-container__contents__main__right__price-box
              = f.number_field :price,class: "price-container__contents__main__right__price-box--field", placeholder: "0",style:"text-align:right;"
        .price-container__contents__fee
          .price-container__contents__fee--label
            .price-container__contents__fee--label--text 販売手数料 (10%)
          %span.price-container__contents__fee--value
            ー
        %hr.price-container__contents__line
        .price-container__contents__profit
          .price-container__contents__profit--label
            .price-container__contents__profit--label--text 販売利益
          %span.price-container__contents__profit--value
            ー
        .item_status
          = f.check_box :item_status, class:"status",id:"status-default", style: "display:none;"
    
    .button-container
      = f.submit "出品する", class: "button-container__exhibition"
      = button_tag "下書きに保存", class: "button-container__draft"
      = link_to "もどる", "", class: "button-container__return"
    
    .notes-container
      %p.notes-container__text 
        禁止されている
        = link_to "行為", "", class: "notes-container__text--link"
        および
        = link_to "出品物", "", class: "notes-container__text--link"
        を必ずご確認ください。
        = link_to "偽ブランド品", "", class: "notes-container__text--link"
        や
        = link_to "盗品物", "", class: "notes-container__text--link"
        などの販売は犯罪であり、法律により処罰される可能性があります。また、出品をもちまして
        = link_to "加盟店規約", "", class: "notes-container__text--link"
        に同意したことになります。

.footer
  = render partial: "/layouts/form_footer"