.header-main
  = render partial:"/layouts/main_header"
.main
  %h1.main-title
    = @item.name
  .main-container
    .item-photos
      = render partial:"slider-item-image"
    %table.item-details
      %tbody.item-container
        %tr.item-details-table
          %th.item-details-table__containers
            出品者
          %td.item-details-table__information
            = link_to @item.user.nickname, "#", class:"user-name"
            .user-evaluations-container
              .user-evaluations-good
                = icon("far", "grin-beam")
                %span.user-evaluations-good__number
                  234
              .user-evaluations-normal
                = icon("far", "meh")
                %span.user-evaluations-normal__number
                  19
              .user-evaluations-bad
                = icon("far", "sad-tear")
                %span.user-evaluations-bad__number
                  345
        %tr.item-details-table
          %th.item-details-table__containers
            カテゴリー
          %td.item-details-table__information
            = link_to category_path(@item.category.root_id), class:"category" do
              = @item.category.root.name
            = link_to category_path(@item.category.parent_id), class:"category" do
              = icon("fas", "chevron-right")
              = @item.category.parent.name
            = link_to category_path(@item.category_id), class:"category" do
              = icon("fas", "chevron-right")
              = @item.category.name
        %tr.item-details-table
          %th.item-details-table__containers
            ブランド
          %td.item-details-table__information
            - if @item.brand_id?
              = link_to "#", class:"brand" do
                = @item.brand.name
        %tr.item-details-table
          %th.item-details-table__containers
            商品のサイズ
          %td.item-details-table__information
            - if @item.size_id?
              = @item.size.name
        %tr.item-details-table
          %th.item-details-table__containers
            商品の状態
          %td.item-details-table__information
            = @item.condition.name
        %tr.item-details-table
          %th.item-details-table__containers
            送料の負担
          %td.item-details-table__information
            = @item.delivery_fee.name
        %tr.item-details-table
          %th.item-details-table__containers
            発送の方法
          %td.item-details-table__information
            = @item.shipping_method.name
        %tr.item-details-table
          %th.item-details-table__containers
            発送元地域
          %td.item-details-table__information
            = @item.ship_from_area.name
        %tr.item-details-table
          %th.item-details-table__containers
            発送日の目安
          %td.item-details-table__information
            = @item.shipping_day.name
  .price-container
    %span.price-container__price
      ¥
      = @item.price.to_s(:delimited, delimiter: ',')
    %span.price-container__tax
      (税込)
    %span.price-container__shipping-fee
      = @item.delivery_fee.name

  .conditional-branch
    - if user_signed_in? && current_user.id == @item.user_id
      .edit-menu
        .edit-menu__list
          = link_to "編集", "#", class: "edit-delete-btn"
          = link_to "削除", item_path, method: :delete, class: "edit-delete-btn"
    - elsif user_signed_in? && current_user.id != @item.user_id
      - if @item.item_status == false
        .purchase
          = link_to "購入画面に進む", new_item_order_path(@item.id), class: "link-to-purchase"
      - else
        .purchase
          %h3.soldout
            売り切れ
    - else
      .purchase
        = link_to new_user_registration_path, class: "link-to-purchase" do
          会員登録はこちら

  .item-description
    %p.item-description__inner
      = @item.description
  .item-likes
    = button_tag  "#", id:"like" do
      = icon("far","heart")
      %span.like-title
      いいね！
      %span.likes-counts
      23
.item-messages
  .message-container
    .message-content
      - if user_signed_in?
        .message-form
          %p.message-warning
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = text_area "text",'', class:"item-messages" 
          = button_tag '#', class:"submit-comment" do
            %span.submit-comment__line
              コメントする
      - else
        %p.message-warning
          商品の購入、コメントの投稿には新規会員登録/ログインが必要です
%ul.link-to-items
  %li.link-to-items__previous
    = link_to "#", class:"previous-item" do
      = icon("fas", "chevron-left")
      前の商品
  %li.link-to-items__next
    = link_to "#", class:"next-item" do
      次の商品
      = icon("fas", "chevron-right")
.item-social-medias
  .social-media-text
  %ul.social-media-container
    %li.social-media-container__box
      = link_to "#",class:"facebook" do
        = icon("fab","facebook")
    %li.social-media-container__box
      = link_to "#", class:"twitter" do
        = icon("fab","twitter")
    %li.social-media-container__box
      = link_to "#",class:"instagram" do
        = icon("fab","instagram")
.item-other-in-this-user
  = render partial:"other-items-lists"
.bottom-category-connection
  %ul.categories-box
    %li.categories-box__root
      = link_to root_path,class:"category-root" do
        %span.root-name
          メルカリ
      = icon("fas","arrow-right")
    %li.categories-box__parent
      = link_to "カテゴリー","#",class:"category-parent"
%aside.banner-for-app
  .banner-inner
    %h2.banner-inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.banner-inner__text
      今すぐ無料ダウンロード！
    .inner-icons
      = link_to image_tag("/images/appstore-icon.png",alt:"appstore",class:"icon-image"),"#",class:"icon-left"
      = link_to image_tag("/images/googlestore-icon.png",alt:"googleplay",class:"icon-image"),"#",class:"icon-right"
.main-footer
  = render partial:"/layouts/main-footer"
