.header-main
  = render partial:"main_header"
.main
  %h1.main-title
    ここにタイトルが入ります。
  .main-container
    .item-photos
    %table.item-details
      %tbody.item-container
        %tr.item-details-table
          %th.item-details-table__containers
            出品者
          %td.item-details-table__information
            = link_to "ユーザー名","#",class:"user-name"
            .user-evaluations-container
              .user-evaluations-good
                = icon("far", "grin-beam")
                %span.user-evaluations-good__number
                  234
              .user-evaluations-normal
                = icon("far", "meh")
                %span.user-evaluations-normal__number
                  19
              .user-evaluations-bad
                = icon("far", "sad-tear")
                %span.user-evaluations-bad__number
                  345
        %tr.item-details-table
          %th.item-details-table__containers
            カテゴリー
          %td.item-details-table__information
            = link_to "カテゴリー1","#",class:"category"
            = link_to "#",class:"category" do
              = icon("fas", "chevron-right")
              カテゴリー2
            = link_to "#",class:"category" do
              = icon("fas", "chevron-right")
              カテゴリー3
        %tr.item-details-table
          %th.item-details-table__containers
            ブランド
          %td.item-details-table__information
            = link_to "ブランド名","#",class:"brand"
        %tr.item-details-table
          %th.item-details-table__containers
            商品のサイズ
          %td.item-details-table__information
            LL
        %tr.item-details-table
          %th.item-details-table__containers
            商品の状態
          %td.item-details-table__information
            傷なし
        %tr.item-details-table
          %th.item-details-table__containers
            送料の負担
          %td.item-details-table__information
            送料込み
        %tr.item-details-table
          %th.item-details-table__containers
            発送の方法
          %td.item-details-table__information
            未定
        %tr.item-details-table
          %th.item-details-table__containers
            発送元地域
          %td.item-details-table__information
            山形県
        %tr.item-details-table
          %th.item-details-table__containers
            発送日の目安
          %td.item-details-table__information
            4~7日で発送
  .price-container
    %span.price-container__price
      ￥10,000
    %span.price-container__tax
      (税込)
    %span.price-container__shipping-fee
      送料込み

.footer