.header-main
  = render partial:'/layouts/main_header'
.main-screen
  .main-box
    .favorite-container
      .favorite-title-box-top
        %h3.favorite-title
          = "#{@brand.name}の商品一覧"
      .items-boxes
        %ul.items-lists
          - if @items.exists?
            - @items.each do |item|
              %li.items-lists__each
                .item-sammary
                  = link_to "#",class:"sammary" do
                    %figure.item-image
                      .image-thumbnail
                        %span.price
                          = number_to_currency(item.price,format: "%u%n",unit: "¥")
                        = image_tag item.images[0].image.url,alt:"sample",class:"sample"
                      %figcaption.caption
                        %span.line
                          = item.name.truncate(22)
                        .like-count
                          = icon("far","heart")
                          %span.item-box-likes__number
                            0
          - else
            .create-main
              .add-more-items
                %h2.notice__title まだ商品がありません。
                .create
                  .submit-next
                    .actions
                      = link_to "トップページへ戻る", root_path, class: "return"
                      = link_to "商品を出品する", new_item_path, class: "return"

%aside.banner-for-app
  .banner-inner
    %h2.banner-inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.banner-inner__text
      今すぐ無料ダウンロード！
    .inner-icons
      = link_to image_tag("/images/appstore-icon.png",alt:"appstore",class:"icon-image"),"#",class:"icon-left"
      = link_to image_tag("/images/googlestore-icon.png",alt:"googleplay",class:"icon-image"),"#",class:"icon-right"

.main-footer
  = render partial:"/layouts/main-footer"

= link_to new_item_path do
  .sell-btn
    %span.sell-btn__text 出品
    = image_tag("/images/icon_camera.png", alt: "CAMERA", class: "sell-btn__image")