.header-main
  = render partial:'/layouts/main_header'
.main-screen
  .main-box
    .favorite-container
      .favorite-title-box-top
        %h3.favorite-title
          = "#{@category.name}の商品一覧"
      .items-boxes
        %ul.items-lists
          - @items.each do |item|
            %li.items-lists__each
              .item-sammary
                = link_to "#",class:"sammary" do
                  %figure.item-image
                    .image-thumbnail
                      %span.price
                        = number_to_currency(item.price,format: "%u%n",unit: "¥")
                      = image_tag item.images[0].image.url,alt:"sample",class:"sample"
                    %figcaption.caption
                      %span.line
                        = item.name.truncate(22)
                      .like-count
                        = icon("far","heart")
                        %span.item-box-likes__number
                          0