.header-main
  = render partial: "/layouts/main_header"

- breadcrumb :mypage
= render "/layouts/bread-crumbs"
-# .bread-crumb
-#   %ul.bread-crumb__nav
-#     %li.bread-crumb__nav__item
-#       = link_to root_path, class: "bread-crumb__nav__item--link" do
-#         %span フリマ
-#       = icon('fas', 'chevron-right', class: "bread-crumb__nav__item--icon")
-#       = link_to mypage_index_path, class: "bread-crumb__nav__item--link present-location" do
-#         %span マイページ

.mypage-main
  .left-content
    %nav.nav
      %ul.nav__list
        %li.nav__list__box
          = link_to mypage_index_path, class: "nav__list__box--item active" do
            マイページ
            = icon('fas', 'angle-right', class: "nav__list__box--item--icon")
        %li.nav__list__box
          = link_to "#", class: "nav__list__box--item active" do
            いいね！一覧
            = icon('fas', 'angle-right', class: "nav__list__box--item--icon")
        %li.nav__list__box
          = link_to new_item_path, class: "nav__list__box--item active" do
            出品する
            = icon('fas', 'angle-right', class: "nav__list__box--item--icon")
        %li.nav__list__box
          = link_to "#", class: "nav__list__box--item active" do
            出品した商品-出品中
            = icon('fas', 'angle-right', class: "nav__list__box--item--icon")
        %li.nav__list__box
          = link_to "#", class: "nav__list__box--item active" do
            出品した商品-取引中
            = icon('fas', 'angle-right', class: "nav__list__box--item--icon")
        %li.nav__list__box
          = link_to "#", class: "nav__list__box--item active" do
            出品した商品-売却済み
            = icon('fas', 'angle-right', class: "nav__list__box--item--icon")
        %li.nav__list__box
          = link_to "#", class: "nav__list__box--item active" do
            購入した商品-取引中
            = icon('fas', 'angle-right', class: "nav__list__box--item--icon")
        %li.nav__list__box
          = link_to "#", class: "nav__list__box--item active" do
            購入した商品-過去の取引
            = icon('fas', 'angle-right', class: "nav__list__box--item--icon")
        %li.nav__list__box
          = link_to "#", class: "nav__list__box--item active" do
            評価一覧
            = icon('fas', 'angle-right', class: "nav__list__box--item--icon")
      %h3.nav__title 設定
      %ul.nav__list
        %li.nav__list__box
          = link_to "#", class: "nav__list__box--item active" do
            プロフィール
            = icon('fas', 'angle-right', class: "nav__list__box--item--icon")
        %li.nav__list__box
          = link_to "#", class: "nav__list__box--item active" do
            発送元・お届け先住所変更
            = icon('fas', 'angle-right', class: "nav__list__box--item--icon")
        %li.nav__list__box
          = link_to credit_cards_path, class: "nav__list__box--item active" do
            支払い方法
            = icon('fas', 'angle-right', class: "nav__list__box--item--icon")
        %li.nav__list__box
          = link_to "#", class: "nav__list__box--item active" do
            メール/パスワード
            = icon('fas', 'angle-right', class: "nav__list__box--item--icon")
        %li.nav__list__box
          = link_to "#", class: "nav__list__box--item active" do
            本人情報
            = icon('fas', 'angle-right', class: "nav__list__box--item--icon")
        %li.nav__list__box
          = link_to "#", class: "nav__list__box--item active" do
            電話番号の確認
            = icon('fas', 'angle-right', class: "nav__list__box--item--icon")
        %li.nav__list__box
          = link_to destroy_user_session_path, class: "nav__list__box--item active", method: :delete do
            %span ログアウト
            = icon('fas', 'angle-right', class: "nav__list__box--item--icon")
  .right-content
    .mypage-user
      = link_to "#", class: "mypage-user__link" do
        %figure
          = image_tag("/images/member_photo_noimage_thumb.png", alt: "member", class: "member", width: "60", height: "60")
        %h2.nickname 博多
        .mypage-count
          .mypage-count__evaluation
            評価
            %span.mypage-count__evaluation--number 10
          .mypage-count__exhibition
            出品数
            %span.mypage-count__exhibition--number 30
    .mypage-tab-container
      %h2.mypage-tab-head 購入した商品
      .tabs
        = radio_button_tag(:tab, "left", "")
        %label{for: "tab_left", class: "tab-item"} 取引中
        = radio_button_tag(:tab, "right")
        %label{for: "tab_right", class: "tab-item"} 過去の取引
        .tab-content#tab_left
          = image_tag("/images/logo-white.png",alt:"FURIMA",class:"logo-bottom",height:"50",width:"170")
          %p.tab-content-text 取引中の商品がありません
        .tab-content#tab_right
          = image_tag("/images/logo-white.png",alt:"FURIMA",class:"logo-bottom",height:"50",width:"170")
          %p.tab-content-text 過去に取引した商品がありません

%aside.banner-for-app
  .banner-inner
    %h2.banner-inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.banner-inner__text
      今すぐ無料ダウンロード！
    .inner-icons
      = link_to image_tag("/images/appstore-icon.png",alt:"appstore",class:"icon-image"),"#",class:"icon-left"
      = link_to image_tag("/images/googlestore-icon.png",alt:"googleplay",class:"icon-image"),"#",class:"icon-right"

.main-footer
  = render partial: "/layouts/main-footer"

= link_to new_item_path do
  .sell-btn
    %span.sell-btn__text 出品
    = image_tag("/images/icon_camera.png", alt: "CAMERA", class: "sell-btn__image")