- if user_signed_in?
  .header-inner
    .header-upper
      .logo-box
        =link_to image_tag("/images/logo.png", alt:"FURIMA", class: "logo-main"), root_path, class: "logo-header"
      .form-box
        = text_field_tag 'search', "", class: "item-search", placeholder: "キーワードから探す"
        = link_to root_path, class: "search" do
          = image_tag("/images/icon-search 1.png", alt: "search", class: "search-icon")
    .header-navigation-bar
      .navigation-left
        .navigation-category__categories
          %h2.category-title-box
            = link_to categories_path, class: "category" do
              %span.category-title__title
                カテゴリー
          %ul.categories-container
            - @category_parents.each do |parent|
              %li.categories-container__parent
                %h3.category-name
                  = link_to "#{parent.name}",category_path(parent), class: "category-parent"
                %ul.categories-container-child
                  - parent.children.each do |child|
                    %li.categories-container-child__child
                      %h3.category-name
                        = link_to "#{child.name}", category_path(child), class: "category-child"
                      %ul.categories-container-grandchild
                        - child.children.each do |grandchild|
                          %li.categories-container-grandchild__grandchild
                            %h3.category-name
                              = link_to "#{grandchild.name}", category_path(grandchild), class: "category-grandchild"
        .navigation-category__brands
          %h2.brand-title-box
            = link_to brands_path, class: "brand" do
              %span.brand-title__title
                ブランド
          %ul.brands-container
            - @brands[0...5].each do |brand|
              %li.brands-container__brand
                %h3.brand-name
                  = link_to "#{brand.name}", brand_path(brand.id), class: "brand"
            %li.brands-container__brand
              %h3.brand-name
                = link_to "ブランド一覧", brands_path, class: "brand"
      .navigation-right
        %ul.navigation-likes-mypage
          %li.navigation-likes-mypage__likes
            = link_to items_path, class: "likes-link" do
              = icon("fas", "store-alt")
              %span.navigation-likes-mypage__likes--title
                商品一覧
          %li.navigation-likes-mypage__likes
            = link_to "#", class: "likes-link" do
              = icon("far", "heart")
              %span.navigation-likes-mypage__likes--title
                いいね！一覧
          %li.navigation-likes-mypage__mypage
            = link_to mypage_index_path, class: "mypage-link" do
              = image_tag("/images/member_photo_noimage_thumb.png", alt: "mypage", class: "mypage")
              %span.navigation-likes-mypage__mypage--title
                マイページ
- else
  %ul.navigation-login-signup
    %li.navigation-login-signup__product-list
      = link_to "商品一覧", items_path, class: "product-list-link"
    %li.navigation-login-signup__login
      = link_to "ログイン", new_user_session_path, class:"login"
    %li.navigation-login-signup__signup
      = link_to "新規会員登録", new_user_registration_path, class:"signup"