- @items.each do |item|
  .pickup-list
    = link_to "#",class:"pickup" do
      .pickup-image
        = image_tag item.images[0].image.url,class:"image-pickup"
      .pickup-description
        %h3.name
          = item.name.truncate(12)
        .detail
          %ul.details
            %li.details__left
              = number_to_currency(item.price,format: "%u%n",unit: "¥")
            %li.details__right
              = icon("fas","star")
              %span.star-number
                0
        %p.tax
          (税込)